*/target/*
*/.git
*/.settings
*/.classpath
*/.project
/.project
/target
/kcmit-db/kcmit-db-sql/target
kcmit-impl/src/main/resources/META-INF/kcmit-config.xml
/kcmit-db/kcmit-db-sql/.classpath
/kcmit-db/kcmit-db-sql/.settings
/kcmit-db/kcmit-db-xml/.classpath
/kcmit-db/kcmit-db-xml/.settings
.settings
