.xy {
  margin-left: 60px;
}

.xx {
  margin-left: 60px;
}

.xx h3 {
  font: message-box;
}

.xd {
  margin-left: 190px;
}
.xc {
  margin-left: 60px;
}
.xb {
  margin-left: 60px;
}
.xa {
  margin-left: 60px;
}
.xo {
  margin-left: 120px;
}